.burgerIcon {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.burgerIconRotate.activeBurgerClass {
	transform: rotate(45deg);
}
.burgerIconRotate180.activeBurgerClass {
	transform: rotate(180deg);
}
.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke-width: 5.5;
	stroke-linecap: round;
}
.burgerIcon8 .top {
	stroke-dasharray: 40 160;
}
.burgerIcon8 .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}
.burgerIcon8 .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}
.burgerIcon8.activeBurgerClass .top {
	stroke-dashoffset: -64px;
}
.burgerIcon8.activeBurgerClass .middle {
	transform: rotate(90deg);
}
.burgerIcon8.activeBurgerClass .bottom {
	stroke-dashoffset: -64px;
}
