.link {
	align-self: flex-end;
	justify-self: end;
	position: relative;
	bottom: 5px;
}

.text {
	text-decoration: none;
	color: rgb(255 156 0);
	font-size: 40px;
	font-weight: 500;
	position: relative;
}

.text::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: #0062ff;
	transition: width 0.3s ease;
}

.text:hover::after {
	width: 100%;
}
